
# HTID:10651387: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:10651387:

# Turn rewrite engine on
#Options +FollowSymlinks
RewriteEngine on

RewriteBase /api-pdv

RewriteRule ^usuario/(.*)$ RestController.php?c=user&id=$1 [qsa,nc]

RewriteRule ^usuario RestController.php?c=user [nc]